
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff5f8;
    color: #6e3543;
}

.cabecalho {
    background: #f8c9d8;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #8b4a58;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo h1 {
    margin: 0;
    font-size: 21px;
}

.logo span {
    font-size: 28px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: #6e3543;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #a85d70;
}

.hero {
    background: #fce0e8;
    padding: 60px 50px;
}

.hero-texto {
    background: white;
    padding: 25px;
    max-width: 450px;
    border-radius: 8px;
}

.hero-texto h2 {
    font-size: 32px;
}

.hero-texto strong {
    color: #a85d70;
}

.botao {
    background: #8b4a58;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.botao:hover {
    background: #6e3543;
}

.noticias,
.sobre {
    padding: 30px;
    text-align: center;
}

.noticias h2,
.categorias h2,
.sobre h2 {
    color: #8b4a58;
}

article {
    background: white;
    padding: 20px;
    margin: 15px auto;
    max-width: 500px;
    border: 2px solid #f2b8ca;
    border-radius: 8px;
}

article h3 {
    color: #8b4a58;
}

.categorias {
    background: #fce0e8;
    padding: 30px;
    text-align: center;
}

footer {
    background: #6e3543;
    color: white;
    text-align: center;
    padding: 15px;
}
